<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Adicionar novo livro </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="container">

            <h2>Novo Livro </h2>

            <form action="/save" method="POST">
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Título do livro</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Titulo" aria-describedby="inputGroup-sizing-default" name="titulo" placeholder="Digite aqui">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Autor(a) do livro</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Autor" aria-describedby="inputGroup-sizing-default" name="autor" placeholder="Digite aqui">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Categoria principal do livro</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Categoria" aria-describedby="inputGroup-sizing-default" name="titulo" placeholder="Digite aqui">
                </div>
                
                <button class="btn btn-primary">Salvar</button>
            </form>

            <br/>
            
            <a href="/" class="btn btn-danger">Voltar</a>

            <footer><p> Fatec Rio Preto - 2021 </p></footer>
        </div>

    </body>
</html>